<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses" #containerRef>
    <!-- @for (course of courses; track course.id;  -->
    <!-- @for (course of courses; track trackCourse;  -->
    @for (course of courses; track index; 
    let index = $index; let count = $count;
    let first = $first;
    let last = $last;
    let even = $even;
    let odd = $odd
    ) {
        <!-- <course-card #cardRef
        [course] = "courses[1]"
        (courseSelected) = "onCourseSelected($event)">
    </course-card>
        <course-card #cardRef2
        [course] = "courses[2]"
        (courseSelected) = "onCourseSelected($event)">
    </course-card> -->
        <course-card 
        [course] = "course"
        (courseSelected) = "onCourseSelected($event)">

        <course-image [src] = "course?.iconUrl"></course-image>

        <!-- <div #imgcontent class="course-img">
            <img width="300" alt="Angular Logo"
            [src]="course?.iconUrl">
    
            <h4> Total Courses: 6 </h4>
        </div> -->

        <div class="course-description">
            {{ course?.longDescription }}
        </div>

        Edit Course: <textarea></textarea>
    

    </course-card>
    } @empty {
        <h1> No courses found! </h1>
    } 
</div>


